* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow-y: hidden;
  position: relative;
}

.container {
  border: 1px solid #000;
  margin: 2rem auto;
  padding: 25px 30px;
  width: 40vw;
  height: 80vh;
  border-radius: 10px;
}

.test-container {
  border: 1px solid #000;
  padding: 30px 20px;
  margin-top: 15px;
  height: 75%;
  border-radius: 10px;
}

.test-card {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -3px 8px #515151;
  cursor: pointer;
  transition: all .5s ease;
}

.test-card:hover {
  transform: translateY(-5px);
  box-shadow: -5px 10px #888;
}

.buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#addTest {
  font-size: 1.2rem;
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  background-color: #0000ff;
  color: #fff;
  box-shadow: -3px 6px #515151;
  cursor: pointer;
  transition: all .5s ease;
}

#addTest:hover {
  background-color: #003cff;
  box-shadow: -5px 8px #888;
  transform: translateY(-5px);
}

.editBtn {
  width: 47%;
  padding: 7px 0;
  border: none;
  border-radius: 5px;
  background-color: #008000;
  color: #fff;
  box-shadow: -3px 3px #515151;
  cursor: pointer;
  transition: all .5s ease;
}

.editBtn:hover {
  background-color: #004800;
  transform: translateY(-3px);
  box-shadow: -3px 6px #888;
}

.deleteBtn {
  width: 47%;
  padding: 7px 0;
  border: none;
  border-radius: 5px;
  background-color: #e20000;
  color: #fff;
  box-shadow: -3px 3px #515151;
  cursor: pointer;
  transition: all .5s ease;
}

.deleteBtn:hover {
  background-color: #650000;
  transform: translateY(-3px);
  box-shadow: -3px 6px #888;
}

#add-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  width: 35vw;
  height: 4vh;
  border: 1px solid #000;
  overflow: hidden;
}

#test-name {
  width: 70%;
  height: 98%;
  padding: 0 10px;
}

#enter, #close {
  width: 12%;
  height: 100%;
  cursor: pointer;
}

#enter {
  background-color: #2401bf;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color .5s ease;
}

#enter:hover {
  background-color: #0f0050;
}

#close {
  background-color: #bf1101;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color .5s ease;
}

#close:hover {
  background-color: #5e0800;
}